<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/bubble-frame.png" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello" i18n="dialog@@hello">{{ 'tag_dialog_phrase1' | translate }}</p>
        <span
            class="txt-rotate"
            appTypingAnimation
            [phrasePeriod]="1800"
            [startDelay]="500"
            [typeSpeed]="120"
            [data]='[
                {
                    "phrases": dialog_phrases
                }
            ]'></span>
    </div>
</div>
