<section id="welcome">
    <div class="layer_one">
        <div class="avatar-container">
            <img loading="lazy" class="illustration" src="assets/template/welcome/{{characterIllustration}}" alt="{{characterName}}"/>
            <app-welcome-background></app-welcome-background>
        </div>
        <app-welcome-dialog></app-welcome-dialog>
    </div>
    <div class="musicnotes">
        <div class="noot-1">
            &#9835; &#9833;
        </div>
        <div class="noot-2">
            &#9833;
        </div>
        <div class="noot-3">
            &#9839; &#9834;
        </div>
        <div class="noot-4">
            &#9834;
        </div>
    </div>
</section>
