.skills {
    position: absolute;
    top: 150px;
    left: 55px;
	z-index: 0;
	
	img.background {
		width: 535px;
	}

	.skill-icon {
		position: absolute;
		width: 50px;

		// Define the animations for the icons
		animation-name: floating-icons;
		-webkit-animation-name: floating-icons;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		-webkit-animation-timing-function: ease-in-out;
		animation-duration: 4s;

		// Odd icons have different animation frame.
		&:nth-child(2n+3) {
			animation-duration: 5s;
		}

		// Specifications for each icon positioning
		&.first {
			top: 365px;
			left: -45px;
		}

		&.second {
			top: 295px;
			left: -75px;
		}

		&.third {
			top: 215px;
			left: -95px;
		}

		&.fourth {
			top: 130px;
			left: -75px;
		}

		&.fifth {
			top: 50px;
			left: -30px;
		}

		&.sixth {
			top: -10px;
			left: 40px;
		}

		&.seventh {
			top: -60px;
			left: 115px;
		}

		&.eighth {
			bottom: 130px;
			right: -40px;
		}

		&.ninth {
			top: -70px;
			left: 190px;
		}
	}
}

@keyframes floating-icons {
	0% { transform: translate(0%, 0%); }
	25% { transform: translate(5%, 15%); }	
	50% { transform: translate(10%, 5%); }	
	75% { transform: translate(0%, 15%); }	
	100% { transform: translate(0%, 0%); }			
}